{% extends "base.html" %}

{% block body %}
  <div class="justify-content-center d-flex">
    {% for product in products %}
      <div class="card mt-2 mx-2" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/e7/05/c8/e705c8e4778f8015b293e307f5517a9c.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{product[0]}}</h5>
          <p class="card-text">대체상품 : {{product[2]}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">카테고리 : {{product[1]}}</li>
        </ul>
      </div>
    {% endfor %}
  </div>
{% endblock %}