{% extends 'base.html' %}

<!-- if python codes are included in html, extra codes are written by {{# {{codes}} #}. -->
{% block body %}

  <h1>List of Made in Jap</h1>

  <table class="table">

    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Alert</th>
        <th scope="col">Category</th>
      </tr>
    </thead>

    <tbody>

      {% for product in products %}
        <tr>
          <th scope="row">1</th>
          <td>{{product[0]}}</td>
          <td>{{product[2]}}</td>
          <td>{{product[1]}}</td>
        </tr>
      {% endfor %}

    </tbody>

  </table>

{% endblock %}