div {
  width: 100px;
  height: 100px;
  background-color: hotpink;
}

.margin {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.padding {
  padding-top: 20px;
  padding-bottom: 20px;
}
.border {
  border: 5px lightblue dotted;
}
.margin1 {
  margin: 5px;
}
.margin2 {
  margin: 5px 10px;
}
.margin3 {
  margin: 5px 10px 15px;
}
.margin4 {
  margin: 5px 10px 15px 20px;
}
