div {
  height: 100px;
  width: 100px;
}

.gold {
  background-color: gold;
  position: static;
}
.silver {
  background-color: silver;
  position: relative;
  left: 50px;
  bottom: 50px;
}
.green {
  background-color: greenyellow;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.yellow {
  background-color: yellowgreen;
  position: fixed;
  right: 0px;
  top: 0px;
}
.parent {
  height: 200px;
  width: 100%;
  background-color: paleturquoise;
  position: relative;
}
.child {
  background-color: palevioletred;
  position: absolute;
  left: 100px;
  bottom: 100px;
}
