h1 {
  color: yellowgreen !important;
}

h1,
h2 {
  background-color: turquoise;
}
div {
  color: goldenrod;
}
div p {
  color: crimson;
}

div > p {
  color: crimson;
}
ul > li {
  color: orangered;
}
p + li {
  color: plum;
}
p ~ li {
  color: aqua;
}

.class-selector {
  color: silver;
}

#id-selector {
  color: gold;
}
