/* * means all element */

/* tags has its own priority.(id > class > tag) */

/* tag selector */
h1 {
    /* !important is in element, it has the first priority. */
    color: yellowgreen !important;
}

/* groupping */
h1, h2 {
    background-color: turquoise;
}

/* class */
.class-selector {
    color: silver;
}

/* id */
#id-selector{
    color: gold;
}

/* child selector(with >) */
ul > li {
    color: orangered;
}

/* change just behind brother selector. */
p + li {
    color: plum;
}

/* change all brother selector. */
p ~ li {
    color: aqua;
}

div {
    color: goldenrod;
}

/* descendants selector */
div p {
    color: crimson;
}

/* child selector */
div > p {
    color: crimson;
}